In [8]:
from Co2_per_flight import add_emissions_to_flight
import pandas as pd
import json

flights = [{0: {"flight_id": "A377", "airport_dep": "BER", "airport_arr": "HAM"}}, {1: {"flight_id": "A3757", "airport_dep": "OSL", "airport_arr": "ATH"}}]

to_dataframe = []
for count, flight in enumerate(add_emissions_to_flight(flights)):
    to_dataframe.append(flight[count])

df = pd.DataFrame(to_dataframe)

In [9]:
df

,flight_id,airport_dep,airport_arr,unknown,economy,business,first
0,A377,BER,HAM,58.433046,58.433046,58.433046,58.433046
1,A3757,OSL,ATH,483.841820,370.562439,1074.586278,1482.223406