In [16]:
import csv


# transform_func(1) -> {"Num": "1"}
def transform_int(my_num):
    return {"Num": str(my_num), "Discount": str(my_num*discount), "Total": str(my_num - (my_num*discount))}

lines = []
discount = 0.25

with open("input.csv", "r") as infile:
    reader = csv.DictReader(infile)
    for row in reader:
        # row : {"Num": "1", "Garbage": 25}
        try:
            my_num = int(row["Num"])
        except ValueError as e:
            print("Could not convert to int")
        squared = my_num **2
        to_dict = transform_int(squared)
        lines.append(to_dict)

print(lines)

[{'Num': '1', 'Discount': '0.25', 'Total': '0.75'}, {'Num': '4', 'Discount': '1.0', 'Total': '3.0'}, {'Num': '9', 'Discount': '2.25', 'Total': '6.75'}, {'Num': '16', 'Discount': '4.0', 'Total': '12.0'}, {'Num': '25', 'Discount': '6.25', 'Total': '18.75'}, {'Num': '36', 'Discount': '9.0', 'Total': '27.0'}, {'Num': '49', 'Discount': '12.25', 'Total': '36.75'}, {'Num': '64', 'Discount': '16.0', 'Total': '48.0'}]

In [17]:
with open("output.csv", "w") as outfile:
    writer = csv.DictWriter(outfile, lineterminator="\n", fieldnames=["Num", "Discount", "Total"])
    writer.writeheader()
    # {"Num": "1"}
    for dict_line in lines:
        
        writer.writerow(dict_line)

In [18]:
import pandas as pd

df = pd.read_csv('output.csv')
df

   Num  Discount  Total
0    1      0.25   0.75
1    4      1.00   3.00
2    9      2.25   6.75
3   16      4.00  12.00
4   25      6.25  18.75
5   36      9.00  27.00
6   49     12.25  36.75
7   64     16.00  48.00